<%- include('../partials/header.ejs') %>
<div class="single-column-form-wrapper">
  <h2 class="title"><%= title %></h2>
    <div>
      <div>
        <form action="/auth/sign-up" method="POST">
          <div class="form-item">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" />
          </div>
          <div class="form-item">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
          </div>
          <div class="form-item">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" />
          </div>
          <button type="submit">SIGN UP</button>
        </form>
      </div>
    </div>
<%- include('../partials/footer.ejs')%>
