<%- include('./partials/header.ejs') %>
<!-- Home Page's Content -->
 <h1>What's for dinner?</h1>
 <h1>Share, explore, and decide together.</h1>
 <div class="btn">
  <a href="/dinners">GET INSPIRED</a>
  <a href="/dinners">SHARE MY DINNER</a>
 </div> 
<%- include('./partials/footer.ejs') %>
