@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(#40454C, #636A77);
}

ul {
  list-style: none;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #fff;
  margin-top: 2rem;
}

.card-img-top {
  width: 60%;
}

/* page width */

.page-width {
  width: calc(100% - 25rem);
  margin-top: 2rem;
}

/* nav */

nav,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin;
  font-size: 2vh;
  color: lightslategray;
}

nav a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.4rem;

  &:hover {
    text-decoration: underline;
  }
}

nav span {
  font-size: 1.5vmin;
  color: lightslategray;
}

nav img {
  display: block;
  width: 12rem; 
  height: auto;
  object-fit: cover;
}

.navbar-nav {
  flex-direction: row;
}

#transparent-nav {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 99;
}

#solid-nav {
  width: 100%;
  z-index: 99;
}

/* footer */

footer img {
  display: block;
  width: 4rem; 
  height: auto;
  object-fit: cover;
}

footer p {
  color: #ccc;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem
}
/* full size hero  */

#hero {
  background-color: #fff;
  position: relative;
  text-align: center;
}

.hero-full {
  width: 100vw;
  height: 785px;
  background-image: url("../assets/gor-davtyan-b1aT3t3uq2E-unsplash.jpg");
  background-size:cover;
  background-position:center;
}

.image-overlay {
  border-image: linear-gradient(hsl(0 0 0 / 0.5), hsl(0 0 0 / 0.3))
  fill 1;
}

.hero-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 12px;
}

.hero-container-btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 12px;
}

.container-overlay {
  position: absolute;
  width: 50%;
  top: calc(100vh - 90rem);
  right: 50%;
  left: 23%;
  padding: var(--bs-card-img-overlay-padding);
  border-radius: var(--bs-card-inner-border-radius);
  color: #fff;
}

/* container */

.container {
  align-items: center;
  bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  width: 100%;
}

.detail-container {
  text-decoration: none;
  background-color: #ffffff7c;
  color: #333;
  width: 100%;
  padding: 0.4rem;
  border-radius: 0.375rem;
}

/* card */

.card-desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
  overflow: hidden;
}

.tag-group {
  flex-wrap: wrap
}

.tag {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 2px 12px;
  font-size: 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  border-radius: 16px;
}

.tag-homemade {
  background-color: #BB9039;
  border: none;
  color: #fff;
  padding: 2px 12px;
  font-size: 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  border-radius: 16px;
}

.tag-takeout {
  background-color: #B34729;
  border: none;
  color: #fff;
  padding: 2px 12px;
  font-size: 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  border-radius: 16px;
}
.tag-dine-out {
  background-color: #9557AB;
  border: none;
  color: #fff;
  padding: 2px 12px;
  font-size: 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  border-radius: 16px;
}

/* form */

form {
  display: flex;
  flex-direction: column;
}

form * {
  font-size: 1rem;
  padding: 0.4rem;
}

input,
textarea,
select {
  border-radius: 6px;
  border: solid 0;
}

form button[type='submit'] {
  background-color: #FBE959;
  color: #333;
  border-radius: 6px;
  border: solid 0;
  margin-top: 1.6rem;
}

form button:hover {
  background-color: lightslategray;
  color: white;
}

form label {
  color: #fff;
  font-size: 0.85rem;
  padding: 0.3rem 0;
  margin-top: 1rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.single-column-form-wrapper {
  max-width: 380px;
  width: 320px;
  padding: 16px;
  margin: 0 auto;
}

/* Buttons */

.btn {
  text-decoration: none;
  background-color: #fff;
  color: #333;
  width: 100%;
  padding: 0.4rem;
  border-radius: 0.375rem;

  &:hover {
    color: gray;
    background-color: lightslategray;
    color: white;
  }
}

.btn-multiple {
  text-decoration: none;
  background-color: #FBE959;
  color: #333;
  width: 100%;
  padding: 0.4rem;
  margin: 0.5rem;
  border-radius: 0.375rem;

  &:hover {
    color: gray;
    background-color: lightslategray;
    color: white;
  }
}